<div class="jumbotron text-center" ng-controller="flames">
  <p>This page demonstrates <span class="text-danger">nested</span> views. This is the <span class="text-danger">{{hometext}}</span>
    homeview page.</p>

  <h1>this is a node application</h1>

  <p> Further progress will be notified {{text}}</p>

  <div class="row">
    <div class="col-lg-3 col-lg-offset-2">
      <label><b>Your Name: </b></label>
      <input ng-model="your_name" class = "form-control">
    </div>

    <div class="col-lg-3">
      <label><b>Other Name: </b></label>
      <input ng-model="other_name" class = "form-control">
    </div>

    <div class = "col-lg-3">
      <button type = "submit"  class = "btn btn-primary">Select</button>
    </div>
  </div>

</div>
